.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgba(31, 31, 31, 1);
  min-width: 700px;
}

.footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  margin-top: 0px;
  opacity: 100%;
  margin: 20px;
  width: 1000px;
  height: 7px;
  top: 35%;
  left: 50%;
}
