.p2-container {
  display: flex;
  justify-content: center;
  margin: 0;
  /* height: auto; */
  min-width: 600px;
  background-color: rgb(240, 240, 240);
}

.p2-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.p2-box {
  width: 100%;
  padding: 70px;
  margin-top: 0px;
  opacity: 100%;
  margin: 10px;
  min-width: 600px;

  height: inherit;
  top: 35%;
  left: 50%;
}

.p2-shadow {
  box-shadow: inset 0 0 15px black;
}

.p2-large-font {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  color: black;
  opacity: 75%;
  font-weight: 600;
  font-size: 27px;
  margin-bottom: 40px;
}

.p2-small-font {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  margin: auto;
  opacity: 70%;
  font-weight: 450;
  margin-bottom: 50px;
  /*font-size: 125%;*/
  max-width: 900px;
  font-size: 20px;
}

.p2-indent {
  text-indent: 50px;
}

@media (max-width: 600px) {
  .p2-large-font {
    font-size: 30px;
  }

  .p2-box {
    /* width: 100%; */
    padding: 30px;
    margin-top: 0px;

    margin: 10px;
  }
}
