.form-group {
  width: 100%;
  margin-bottom: 1rem;
}
.form-label {
  font-size: 1rem;
}
.form-input,
.form-textarea {
  font-family: "EB Garamond", serif;
  width: 100%;
  font-size: 19px;
  padding: 0.7rem;
  color: gray;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgb(78, 78, 78);
  outline: none;
  border-radius: 8px;
  margin-top: 0.5rem;
}
.form-textarea {
  resize: none;
  height: 10vw;
  min-height: 200px;
  margin-bottom: 30px;
}
.form-button {
  background-color: rgba(197, 197, 197, 0.7);
  color: rgb(63, 63, 63);
  font-size: 1.5rem;
  display: inline-block;
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  cursor: pointer;
}
.input-container {
  width: 35vw;
}
@media (max-width: 900px) {
  .input-container {
    width: 30vw;
    min-width: 500px;
  }
}
