.plot-size {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60vw;
  height: 35vw;
  min-width: 500px;
  min-height: 500px;
  background-color: rgba(255, 255, 255);
  margin-bottom: 60px;
  overflow: hidden;
  /* box-shadow: 0px 10px 15px 0px rgba(102, 102, 102, 0.3); */
}
