.plot-size {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60vw;
  height: 35vw;
  min-width: 500px;
  min-height: 500px;
  background-color: rgba(255, 255, 255);
  margin-bottom: 60px;
  overflow: hidden;
}
.plotly .modebar-btn svg {
  width: 20px; /* Ensure these styles override Plotly's defaults */
  height: 20px;
  margin: 2px; /* Reduced margin to fit within the parent */
  background-color: white;
  border-radius: 0;
}

.plotly .modebar-group {
  width: 600;
  display: flex; /* This is likely already set by Plotly's default styling */
  flex-direction: column; /* Align children vertically for vertical orientation */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  margin: 0 5px; /* Adjusted to ensure spacing between groups */
  background-color: white;
}
/* Attempt to move the modebar to the bottom of the plot */
.plot-container .modebar {
  top: auto;
  bottom: 0; /* Position at the bottom */
  width: 100%; /* Optional: Adjust the width as needed */
  justify-content: center; /* Center the modebar items if desired */
}
