.about-header {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 27vw;
  min-height: 220px;

  /*margin: 40px;*/
  margin: 40px;
}
.about-container {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 220px;

  background-color: rgba(31, 31, 31, 0.9);
}

.about-inner-container {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 220px;
}

.about-container h1 {
  font-size: 2.5vw;
  margin: 10px;
}
@media (max-width: 768px) {
  .about-container h1 {
    font-size: 25px;
    margin: 10px;
  }
}
