.studies-header {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 27vw;
  /*margin: 40px;*/
  margin: 40px;
}

.studies-header h1 {
  margin: 10px;
}

.studies-container {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: rgba(31, 31, 31, 0.9);
}

.studies-inner-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.studies-box {
  display: flex;
  width: auto;
  justify-items: center;
  align-items: center;
}
.studies-instructions {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50vw;
  background-color: rgb(240, 240, 240);
}
.studies-distribution {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  height: 50vw;
  background-color: rgb(46, 46, 46);
}

.studies-container h1 {
  font-size: 2.5vw;
}
