.lab-header {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  height: 30vw;
  /*margin: 40px;*/
  /*margin: 40px;*/
}
.lh-container {
  justify-content: center;
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 10vw;
  background-color: rgba(32, 32, 32, 0.8);
}
.lab-container {
  height: 40vw;
  /*margin: 40px;*/

  background-color: rgba(32, 32, 32, 0.8);
}
.lab-container h1 {
  font-size: 2.5vw;
}

.team-members {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vw;
  background-color: rgb(240, 240, 240);
}
