.venn2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart22-container {
  max-width: 600px;
  margin-bottom: 20px;
}

.legend2-container {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.legend2-item {
  margin: 20px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.legend2-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  margin-right: 5px;
}

.legend2-text {
  color: black;
  font-size: 14px;
}
