/* .main-container {
  display: flex;
  flex-direction: column;
  transition: 1s;
} */
.DEG-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 0%;
  margin-top: 15px;
  min-width: 500px;
  margin-bottom: 50px;
  /* overflow: hidden; */
}
/* s
.plot-spacing {
  margin: 0px;
} */

.DEG-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  /* height: 10vw; */
  background-color: rgb(255, 255, 255);
  transition: 0.6s;
}

.DEG-container-expanded {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  min-width: 500px;
  /* padding: 30px; */
  height: auto;
  background-color: rgb(255, 255, 255);
  transition: height 0.5s;
  /* height: 60vw; */
  /* max-height: 50vw; */
  /* min-height: 700px; */
  transition: 0.6s;
}
/* .plot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
} */
.drop-down-container {
  margin-top: 0.3vw;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  position: relative; /* Add this line */
  z-index: 1; /* Ensure dropdown appears above other elements */
}

@media only screen and (max-width: 500px) {
  .DEG-box {
    width: 100%; /* Make the plots take full width */
    min-width: auto; /* Reset min-width to allow full width */
  }
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  color: black;
  border-bottom: 2px dotted black;
  cursor: help; /* Changes cursor to indicate help/info */
  width: 20px;
  height: 25px;
  margin: 10px;
  padding-top: 0px;
  /* background-color: rgb(228, 228, 228); */
  border: dotted rgb(0, 0, 0) 1px;
  border-radius: 15%;
  text-align: center;
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: auto; /* Remove or set to 'auto' */
  top: 125%; /* Position the tooltip above the parent */
  border: solid 1px black;
  padding: 10px;
  left: 50%;
  margin-left: -110px; /* Use half of the width value to align it horizontally */

  /* Fade in tooltip - animations (optional) */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* Move arrow to the bottom of the tooltip box */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border: solid 1px black;

  border-color: transparent transparent rgb(206, 206, 206) transparent; /* Arrow pointing downwards */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
