.DEG-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 20vw;
  background-color: rgb(255, 255, 255);
  transition: height 0.5s;
}

.DEG-container-expanded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: rgb(255, 255, 255);
  transition: height 0.5s;
  height: 70vw; /* Adjust the height as needed when expanded */
}

.DEG-box {
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 0vw;

  margin-bottom: 0vw;
  overflow: hidden;
}

.drop-down-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center; /* Align dropdowns to the top */
}

.drop-down {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: rgb(228, 228, 228);
  color: black;
  width: 10.5vw;
  height: 3vw;
  font-size: 0.9vw;
  border-radius: 2px;
  margin: 2vw;
  margin-bottom: 7vw;
  border: none;
  transition: 0.5s;
  box-shadow: 0px 10px 15px 0px rgba(102, 102, 102, 0.2);
}

/* Add this line to show the dropdown */
.drop-down:hover {
  background-color: rgb(202, 202, 202);
  box-shadow: 0px 10px 15px 0px rgba(102, 102, 102, 0.2);
  transition: 0.5s;
  border: none;
}

/* Add this line to ensure visibility of the dropdown */
.drop-down:focus {
  visibility: visible;
}
