.DEG-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 15vw;
  max-height: 800px;
  background-color: rgb(255, 255, 255);
  transition: height 0.5s;
}

.DEG-container-expanded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 700px;
  min-height: 815px;
  background-color: rgb(255, 255, 255);
  transition: height 0.5s;
  height: 95vw;
  transition: 0.5s;
}

.down-arrow {
  margin: 0;
  font-size: 30px; /* Adjust the size as needed */
  color: black; /* Set the color according to your design */
  text-align: center;
  opacity: 50%;
}

.button-container {
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
}
.DEG-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 0vw;
  min-width: 700px;

  margin-bottom: 0vw;
  overflow: hidden;
}

.plot-spacing {
  margin-top: 60px;
}

@media only screen and (max-width: 700px) {
  .DEG-box {
    width: 100%; /* Make the plots take full width */
    min-width: auto; /* Reset min-width to allow full width */
  }

  .DEG-container {
    width: 700px;
  }
}
