.visualize-header {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  height: 25vw;
  /*margin: 40px;*/
  margin: 40px;
}
.vh-container {
  display: flex;
  justify-content: center;
  margin: 0;
  min-width: 700px;
  background-color: rgba(31, 31, 31, 0.8);
}

.visualize-container h1 {
  display: flex;
  font-size: 2.5vw;
  justify-items: center;
  align-items: center;
}
