.plot-size {
  display: flex;
  justify-content: center;
  width: 65vw;
  height: 40vw;
  background-color: rgba(255, 255, 255);
  margin: 3vw;
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: 0vw;
}
