.visualize-header {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  height: 25vw;
  min-height: 220px;

  /*margin: 40px;*/
  margin: 40px;
}
.vh-container {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 220px;

  background-color: rgba(31, 31, 31, 0.9);
}
/* 
.background {
  background-image: url(../../Bioinformatics-vs-computational-biology.jpg);
  background-size: 100%;
  min-width: 700px;
  min-height: 220px;

  background-repeat: repeat-y;
} */

.visualize-container h1 {
  display: flex;
  font-size: 2.5vw;
  justify-items: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .visualize-container h1 {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .visualize-container h1 {
    display: flex;

    justify-items: center;
    align-items: center;
  }
  .visualize-container {
    width: 500px;
  }
  .vh-container {
    width: 500px;
  }
}
