.volcano-background {
  /* background-image: url(../../Bioinformatics-vs-computational-biology.jpg); */
  background-size: 100%;
  min-width: 700px;
  background-repeat: repeat-y;
}
.volcano-background-color {
  background-color: rgba(31, 31, 31, 0.9);
}
