.image {
  background-size: 100%;
  background-image: url(./Bioinformatics-vs-computational-biology.jpg);
  min-width: 700px;
  background-repeat: repeat-y;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
