.custom-dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  /* transform: translateX(-45%); */
  background-color: #242526;
  border: solid 1px #474a4d;
  border-radius: 8px;
  padding: 0.3rem;

  overflow: hidden;
  transition: height 500ms ease;
}
.menu-item {
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background 500ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}
.menu-item:hover {
  background-color: #525357;
}
.menu {
  width: 100%;
}

.menu-primary-enter {
  /* position: absolute; */
  /* transform: translateX(-110%); */
}
/*
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}*/
.menu-primary-exit {
  /* position: absolute; */
}
/*
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
} */
