* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgba(31, 31, 31, 1);
  display: flex;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 900;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  /* padding-top: 90px; */
}

.nav-item {
  list-style-type: none;
  display: flex;
  height: 100%;
  font-size: 1.2rem;
  width: 100px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  background-color: rgba(31, 31, 31, 1);
  height: auto;
}

.nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.nav-link:hover {
  color: rgb(117, 117, 117);
}

.hamburger {
  display: none;
  cursor: pointer;
  height: 100%;
  padding-top: 20px;
  transition: 0.5s;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.03s ease-in-out;
  background-color: white;
}

/* .dropdown {
  display: flex;
  flex-direction: column; 
  top: 100%;
  left: 0;
  background-color: rgba(31, 31, 31, 1);
  border-radius: 5px;
  padding: 5px 0;
  width: max-content;
} */

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1100; /* Set a higher z-index for the dropdown */
  top: calc(100% + 5px); /* Position the dropdown below the trigger */
  left: 50%; /* Position the dropdown relative to its parent */
  transform: translateX(-50%); /* Center the dropdown horizontally */
  background-color: rgba(31, 31, 31, 1);
  border-radius: 5px;
  border-top: rgb(53, 53, 53) solid 0.1px;
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 5px 0; */
  text-align: center;
  width: max-content;
  opacity: 1; /* Set initial opacity to 1 */

  transition: 0.3s;
}

.has-dropdown {
  display: flex;
  flex-direction: column; /* Display dropdown items in a column */
  /* position: absolute; */
  top: 100%;
  justify-content: flex-start;
  left: 0;
  background-color: rgba(31, 31, 31, 1);
  border-radius: 5px;
  padding: 5px 0;
  transition: 0.3s;

  width: max-content;
}

.dropdown-item {
  display: block; /* Change the display property to block */
  padding: 8px 16px;
  color: white;
  width: 200px;
  z-index: 1000;
  text-decoration: none;
  /* border-bottom: rgb(53, 53, 53) solid 0.1px; */
  transition: 0.3s;
}
.dropdown-item:first-child {
  border-bottom: rgb(53, 53, 53) solid 0.1px;
}

.dropdown-item:hover {
  color: rgb(117, 117, 117);
}
/* .nav-item .dropdown {
  top: 30;
} */

@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: fixed;
    height: auto;
    top: -9px;
  }
  .nav-menu.active .has-dropdown .dropdown {
    position: static;
    display: inline-block;
    margin-top: 10px; /* Adjust the margin as needed */
    z-index: 900; /* Ensure dropdowns are above other content */
    transform: translateX(0%); /* Center the dropdown horizontally */
    left: 50%; /* Position the dropdown relative to its parent */
    transition: 0.3s;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: 0;
    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: #303030;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    z-index: 800;
  }
  .nav-item {
    align-items: center;
    justify-content: center;
    border-bottom: rgb(53, 53, 53) solid 0.1px;
    width: 65%;
    height: 100%;
    z-index: 810;
  }
  .nav-link {
    margin: 10px;
  }
  .nav-menu.active {
    left: 0;
    top: 50px;
    z-index: 900;
    background-color: rgba(31, 31, 31, 1);
    height: auto;
  }
  .navbar {
    height: 50px;
  }
  .dropdown {
    padding: 0;
    border-radius: 0px;
    transition: 0.3s;
  }
}
.active {
  color: rgb(82, 82, 82);
}
